body(ng-app="App")
    nav#nav.navbar.fixed-top.mainbody.footerText
        ul.hidden-md-down
            li.active
                a.clearLink(href='/') Home
        button.navbar-toggler.hidden-lg-up(type='button', data-toggle='collapse', data-target='#nav-content', style='float: left; background-color: white; outline: none')
            | ☰
        #nav-content.collapse.navbar-toggleable-sm
            ul
                li.active.centerLi
                    a.clearLink(href='/') Home
                br
